################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

/.vs
/ConsoleApplication1/Debug
/Debug
/cpp_basic
/project_tetris/Debug
/test
/socker_client/Debug/socker_client.tlog
/socker_client/Debug
/socker_client/socker_client.vcxproj.user
/socker_client/socker_client.vcxproj.filters
/socker_client/socker_client.vcxproj
/socket_server/Debug
/socket_server/socket_server.vcxproj.user
/socket_server/socket_server.vcxproj.filters
/socket_server/socket_server.vcxproj
/multiTetris_client/Debug
/multiTetris_client/multiTetris_client.vcxproj.user
/multiTetris_client/multiTetris_client.vcxproj.filters
/multiTetris_client/multiTetris_client.vcxproj
/packages/Microsoft.Web.WebView2.1.0.961.33
/RandomLunch/bin/Debug
/RandomLunch/obj/Debug
/RandomLunch/Properties
